config/private.yml
blobs
temp
.temp
dev_releases
releases/*.tgz
releases/**/*.tgz
.dev_builds
.final_builds
.DS_Store
.idea
*.swp
*~
*#
#*
.downloads
credentials.yml
terraform.tfvars
terraform.tfstate*
.terraform
plan
*-creds.yml
prv-notes.md